# Contents <a id='back'></a>

* [Introduction](#intro)
* [1. Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* [2. Data preprocessing](#data_preprocessing)
    * [2.1 Missing values](#missing_values)
    * [2.2 Duplicates](#duplicates)
    * [2.3 Conclusions](#data_preprocessing_conclusions)
* [3. Develop the web application dashboard](#develop_app)
    * [3.1 Data Loading and Exploration:](#data_loading)
    * [3.2 Sorting and Filtering Options:](#sorting)
        * [3.2.1 Sorting Functionality](#sorting)
        * [3.2.2 Model Filtering](#filtering)
    * [3.3 Visualizations:](#histogram)
        * [3.3.1 Histogram Visualization](#histogram)
        * [3.3.2 Scatter Plot Visualization](#scatter_plot)
    * [3.4 Conclusions](#developing_conclusions)

## 1. Data overview <a id='data_review'></a>
Open the data and explore it.

In [3]:
# importing pandas
import pandas as pd

# importing numpy
import numpy as np

Read the file `vehicles_us.csv` from the `/sprint-6-project/` folder and save it in the `df` variable:

In [5]:
# reading the file and storing it to df
df = pd.read_csv('/Users/user/Documents/GitHub/sprint-6-project/vehicles_us.csv')

Obtaining the general information about the table with one command:

In [7]:
# obtaining general information about the data in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

The table contains twelve columns. 
They have different data types according to value: `object`, `float` and `integer`.

According to the documentation:
 -   price          
 -   model_year    
 -   model          
 -   condition     
 -   cylinders    
 -   fuel          
 -   odometer      
 -   transmission  
 -   type           
 -   paint_color   
 -  is_4wd        
 -  date_posted   
 -  days_listed 

The number of column values is different. This means the data contains missing values.

### Conclusions <a id='data_review_conclusions'></a> 

The Car Advertisement Dataset contains various attributes pertaining to car details, such as the model, year, price, paint color, and more. 

Upon initial inspection, it was evident that the dataset had missing values in several columns, which necessitated preprocessing steps to ensure data reliability for analysis and modeling purposes.

## 2. Data preprocessing <a id='data_preprocessing'></a>
Deal with the missing values. Then, check whether there are duplicates in the data.

In [11]:
# the list of column names in the df table
print(df.columns)

Index(['price', 'model_year', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'date_posted', 'days_listed'],
      dtype='object')

### 2.1 Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, use two `pandas` methods:

In [13]:
# calculating missing values
print(df.isna().sum())

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

Replace the missing values in `'condition'`, `'paint_color'`, and `'cylinders'` with the string `'unknown'`. To do this, create the `columns_to_replace` list, loop over it, and replace the missing values in each of the columns:

In [15]:
# Assuming 'df' is your DataFrame
columns_to_replace = ['condition','paint_color', 'cylinders']

# Replace missing values with 'unknown' using transform()
df[columns_to_replace] = df[columns_to_replace].transform(lambda x: x.fillna('unknown'))

# Display the updated DataFrame
print(df)

       price  model_year           model  condition cylinders fuel  odometer  \
0       9400      2011.0          bmw x5       good       6.0  gas  145000.0
1      25500         NaN      ford f-150       good       6.0  gas   88705.0
2       5500      2013.0  hyundai sonata   like new       4.0  gas  110000.0
3       1500      2003.0      ford f-150       fair       8.0  gas       NaN
4      14900      2017.0    chrysler 200  excellent       4.0  gas   80903.0
...      ...         ...             ...        ...       ...  ...       ...
51520   9249      2013.0   nissan maxima   like new       6.0  gas   88136.0
51521   2700      2002.0     honda civic    salvage       4.0  gas  181500.0
51522   3950      2009.0  hyundai sonata  excellent       4.0  gas  128000.0
51523   7455      2013.0  toyota corolla       good       4.0  gas  139573.0
51524   6300      2014.0   nissan altima       good       4.0  gas       NaN

      transmission    type paint_color  is_4wd date_posted  days_listed
0        automatic     SUV     unknown     1.0  2018-06-23           19
1        automatic  pickup       white     1.0  2018-10-19           50
2        automatic   sedan         red     NaN  2019-02-07           79
3        automatic  pickup     unknown     NaN  2019-03-22            9
4        automatic   sedan       black     NaN  2019-04-02           28
...            ...     ...         ...     ...         ...          ...
51520    automatic   sedan       black     NaN  2018-10-03           37
51521    automatic   sedan       white     NaN  2018-11-14           22
51522    automatic   sedan        blue     NaN  2018-11-15           32
51523    automatic   sedan       black     NaN  2018-07-02           71
51524    automatic   sedan     unknown     NaN  2018-06-05           10

[51525 rows x 13 columns]

The code snippet is designed to clean and preprocess the Car Advertisement Dataset by converting 'unknown' values in specific columns ('model_year' and 'odometer') to NaN (missing or null values) to facilitate further data analysis and manipulation.

In [17]:
# Replace 'unknown' values with NaN
df['model_year'] = pd.to_numeric(df['model_year'], errors='coerce')
df['odometer'] = pd.to_numeric(df['odometer'], errors='coerce')

The primary objective of this preprocessing step is to convert the `'model_year'` and `'odometer'` columns to integer type while handling missing values. By replacing NaN values with 0 and subsequently converting the columns to integers, the code aims to prepare the dataset for numerical computations, statistical analyses, or machine learning models that require integer-based features.

In [19]:
# Convert 'model_year' and 'odometer' columns to integers, treating NaN values as 0
df['model_year'] = df['model_year'].fillna(0).astype(int)
df['odometer'] = df['odometer'].fillna(0).astype(int)

# Display the updated DataFrame
print(df.head())

   price  model_year           model  condition cylinders fuel  odometer  \
0   9400        2011          bmw x5       good       6.0  gas    145000
1  25500           0      ford f-150       good       6.0  gas     88705
2   5500        2013  hyundai sonata   like new       4.0  gas    110000
3   1500        2003      ford f-150       fair       8.0  gas         0
4  14900        2017    chrysler 200  excellent       4.0  gas     80903

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV     unknown     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup     unknown     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

The main objective of next step is to standardize the content of the `'is_4wd'` column by converting it to a string type and replacing specific values ('1.0' and 'nan') with more descriptive representations ('yes' and 'no', respectively). This transformation enhances the column's readability and prepares it for analysis or modeling by replacing ambiguous or inconsistent entries.

In [21]:
# Convert 'is_4wd' to string type (if not already)
df['is_4wd'] = df['is_4wd'].astype(str)

# Replace '1.0' with 'yes' and 'nan' with 'no'
df['is_4wd'] = np.where(df['is_4wd'] == '1.0', 'yes', np.where(df['is_4wd'] == 'nan', 'no', df['is_4wd']))

# Display the updated DataFrame
print(df.head())

   price  model_year           model  condition cylinders fuel  odometer  \
0   9400        2011          bmw x5       good       6.0  gas    145000
1  25500           0      ford f-150       good       6.0  gas     88705
2   5500        2013  hyundai sonata   like new       4.0  gas    110000
3   1500        2003      ford f-150       fair       8.0  gas         0
4  14900        2017    chrysler 200  excellent       4.0  gas     80903

  transmission    type paint_color is_4wd date_posted  days_listed
0    automatic     SUV     unknown    yes  2018-06-23           19
1    automatic  pickup       white    yes  2018-10-19           50
2    automatic   sedan         red     no  2019-02-07           79
3    automatic  pickup     unknown     no  2019-03-22            9
4    automatic   sedan       black     no  2019-04-02           28

Make sure the table contains no more missing values. Count the missing values again.

In [23]:
# calculating missing values
print(df.isna().sum())

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

### 2.2 Duplicates <a id='duplicates'></a>
Find the number of obvious duplicates in the table using one command:

In [25]:
# counting clear duplicates
print(df.duplicated().sum())

0

Now get rid of implicit duplicates in the `model` column. For example, the name of a model can be written in different ways. Such errors will also affect the result.

Print a list of unique model names, sorted in alphabetical order. To do so:
* Retrieve the intended DataFrame column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [28]:
# viewing unique model names
df.sort_values(by = ['model'],inplace = True)
print(df['model'].unique())

['acura tl' 'bmw x5' 'buick enclave' 'cadillac escalade'
 'chevrolet camaro' 'chevrolet camaro lt coupe 2d' 'chevrolet colorado'
 'chevrolet corvette' 'chevrolet cruze' 'chevrolet equinox'
 'chevrolet impala' 'chevrolet malibu' 'chevrolet silverado'
 'chevrolet silverado 1500' 'chevrolet silverado 1500 crew'
 'chevrolet silverado 2500hd' 'chevrolet silverado 3500hd'
 'chevrolet suburban' 'chevrolet tahoe' 'chevrolet trailblazer'
 'chevrolet traverse' 'chrysler 200' 'chrysler 300'
 'chrysler town & country' 'dodge charger' 'dodge dakota'
 'dodge grand caravan' 'ford econoline' 'ford edge' 'ford escape'
 'ford expedition' 'ford explorer' 'ford f-150' 'ford f-250'
 'ford f-250 sd' 'ford f-250 super duty' 'ford f-350 sd' 'ford f150'
 'ford f150 supercrew cab xlt' 'ford f250' 'ford f250 super duty'
 'ford f350' 'ford f350 super duty' 'ford focus' 'ford focus se'
 'ford fusion' 'ford fusion se' 'ford mustang' 'ford mustang gt coupe 2d'
 'ford ranger' 'ford taurus' 'gmc acadia' 'gmc sierra' 'gmc sierra 1500'
 'gmc sierra 2500hd' 'gmc yukon' 'honda accord' 'honda civic'
 'honda civic lx' 'honda cr-v' 'honda odyssey' 'honda pilot'
 'hyundai elantra' 'hyundai santa fe' 'hyundai sonata' 'jeep cherokee'
 'jeep grand cherokee' 'jeep grand cherokee laredo' 'jeep liberty'
 'jeep wrangler' 'jeep wrangler unlimited' 'kia sorento' 'kia soul'
 'mercedes-benz benze sprinter 2500' 'nissan altima' 'nissan frontier'
 'nissan frontier crew cab sv' 'nissan maxima' 'nissan murano'
 'nissan rogue' 'nissan sentra' 'nissan versa' 'ram 1500' 'ram 2500'
 'ram 3500' 'subaru forester' 'subaru impreza' 'subaru outback'
 'toyota 4runner' 'toyota camry' 'toyota camry le' 'toyota corolla'
 'toyota highlander' 'toyota prius' 'toyota rav4' 'toyota sienna'
 'toyota tacoma' 'toyota tundra' 'volkswagen jetta' 'volkswagen passat']

Look through the list to find implicit duplicates, these could be names written incorrectly or alternative names of the same model.

You will see the following implicit duplicates:
* 'ford f-250'
* 'ford f250'
* 'ford f-250 super duty'
* 'ford f250 super duty'

To get rid of them, declare the function `replace_wrong_models()` with two parameters: 
* `wrong_models=` — the list of duplicates
* `correct_model=` — the string with the correct value

The function should correct the names in the `'model'` column from the `df` table, i.e. replace each value from the `wrong_model` list with the value in `correct_model`.

In [30]:
# function for replacing implicit duplicates
def replace_wrong_models(wrong_models, correct_model):
    for wrong_model in wrong_models:
        df['model'] = df['model'].str.strip().str.lower().replace(wrong_model.lower(), correct_model.lower())

Call `replace_wrong_models()` and pass it arguments so that it clears implicit duplcates and replaces them with:

In [32]:
# removing implicit duplicates
replace_wrong_models(['ford f-250'], 'ford f250') 

replace_wrong_models(['ford f-250 super duty'], 'ford f250 super duty')

Make sure the duplicate names were removed. Print the list of unique values from the `'model'` column:

In [34]:
# viewing updated unique model names
print(df['model'].unique())

['acura tl' 'bmw x5' 'buick enclave' 'cadillac escalade'
 'chevrolet camaro' 'chevrolet camaro lt coupe 2d' 'chevrolet colorado'
 'chevrolet corvette' 'chevrolet cruze' 'chevrolet equinox'
 'chevrolet impala' 'chevrolet malibu' 'chevrolet silverado'
 'chevrolet silverado 1500' 'chevrolet silverado 1500 crew'
 'chevrolet silverado 2500hd' 'chevrolet silverado 3500hd'
 'chevrolet suburban' 'chevrolet tahoe' 'chevrolet trailblazer'
 'chevrolet traverse' 'chrysler 200' 'chrysler 300'
 'chrysler town & country' 'dodge charger' 'dodge dakota'
 'dodge grand caravan' 'ford econoline' 'ford edge' 'ford escape'
 'ford expedition' 'ford explorer' 'ford f-150' 'ford f250'
 'ford f-250 sd' 'ford f250 super duty' 'ford f-350 sd' 'ford f150'
 'ford f150 supercrew cab xlt' 'ford f350' 'ford f350 super duty'
 'ford focus' 'ford focus se' 'ford fusion' 'ford fusion se'
 'ford mustang' 'ford mustang gt coupe 2d' 'ford ranger' 'ford taurus'
 'gmc acadia' 'gmc sierra' 'gmc sierra 1500' 'gmc sierra 2500hd'
 'gmc yukon' 'honda accord' 'honda civic' 'honda civic lx' 'honda cr-v'
 'honda odyssey' 'honda pilot' 'hyundai elantra' 'hyundai santa fe'
 'hyundai sonata' 'jeep cherokee' 'jeep grand cherokee'
 'jeep grand cherokee laredo' 'jeep liberty' 'jeep wrangler'
 'jeep wrangler unlimited' 'kia sorento' 'kia soul'
 'mercedes-benz benze sprinter 2500' 'nissan altima' 'nissan frontier'
 'nissan frontier crew cab sv' 'nissan maxima' 'nissan murano'
 'nissan rogue' 'nissan sentra' 'nissan versa' 'ram 1500' 'ram 2500'
 'ram 3500' 'subaru forester' 'subaru impreza' 'subaru outback'
 'toyota 4runner' 'toyota camry' 'toyota camry le' 'toyota corolla'
 'toyota highlander' 'toyota prius' 'toyota rav4' 'toyota sienna'
 'toyota tacoma' 'toyota tundra' 'volkswagen jetta' 'volkswagen passat']

Next step finalizes the data processing pipeline by persisting the updated DataFrame into a CSV file, ensuring the preservation of modifications made to the Car Advertisement Dataset for future use and analysis.

In [36]:
# Save DataFrame to a CSV file
df.to_csv('/Users/user/Downloads/vehicles_upd.csv', index=False)  # Set index=False to avoid writing row indices

### 2.3 Conclusions <a id='data_preprocessing_conclusions'></a>
We detected two issues with the data:

- Missing values
- Obvious and implicit duplicates

All missing values have been replaced.

The absence of duplicates will make the results more precise and easier to understand.

## 3. Develop the web application dashboard <a id='develop_app'></a>
The app.py code focuses on exploring and visualizing the Car Advertisement Dataset, providing interactive components for data analysis and visualization using Python libraries like Pandas, Plotly, and Streamlit.

### 3.1 Data Loading and Exploration: <a id='data_loading'></a>
Loading the preprocessed Car Advertisement Dataset from the 'vehicles_upd.csv' file using Pandas.

In [40]:
import plotly.express as px
import streamlit as st

data = pd.read_csv('/Users/user/Downloads/vehicles_upd.csv')

st.title('Car advertisement dataset')

2023-12-18 12:26:14.900
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/user/anaconda3/lib/python3.11/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

### 3.2 Sorting and Filtering Options: <a id='sorting'></a>
3.2.1 `Sorting Functionality`: Offers a sidebar with options to sort the dataset based on user-selected columns in either ascending or descending order.

In [42]:
sort_column = st.selectbox('Select column to sort by', data.columns)
sort_order = st.radio('Select sorting order', ['Ascending', 'Descending'])

# Convert sorting order to boolean for ascending or descending
ascending = True if sort_order == 'Ascending' else False

<a id='filtering'></a>
3.2.2 `Model Filtering`: Provides checkboxes to filter specific car models and a price range filter for further dataset refinement.

In [44]:
# Checkbox for filtering specific models
selected_models = st.multiselect('Select models to filter', data['model'].unique())

# Checkbox for filtering by price range
filter_price = st.checkbox('Filter by Price Range')
if filter_price:
    min_price = st.number_input('Minimum Price', min_value=data['price'].min(), max_value=data['price'].max())
    max_price = st.number_input('Maximum Price', min_value=data['price'].min(), max_value=data['price'].max())
    data = data[(data['price'] >= min_price) & (data['price'] <= max_price)]

# Filter DataFrame based on selected models
if selected_models:
    filtered_df = data[data['model'].isin(selected_models)]
else:
    filtered_df = data.copy()  # If no models selected, show the entire DataFrame


# Sort the filtered DataFrame based on user-selected column and order
sorted_df = filtered_df.sort_values(by=sort_column, ascending=ascending)

# Display the sorted DataFrame
st.write(sorted_df)

### 3.3 Visualizations: <a id='histogram'></a>
3.3.1 `Histogram Visualization`: Generates a histogram using Plotly Express, depicting the distribution of car prices across different models and conditions. This chart allows users to hover over data points for detailed information.

In [46]:
st.header('Histogram of Model VS Price')
# Create the histogram with Plotly Express
fig = px.histogram(data, x='model', y='price', color='condition', 
                   title='', 
                   labels={'model': 'Model', 'price': 'Price', 'condition': 'Condition'},
                   hover_data=data.columns)  # Display all columns in hover information

fig.update_xaxes(categoryorder='total descending')  # Sort x-axis by total price
fig.update_layout(xaxis_title='Model', yaxis_title='Price')

# Update layout and display the chart
fig.update_traces(marker=dict(line=dict(width=0.5, color='DarkSlateGrey')))  # Define marker properties
fig.update_layout(barmode='overlay')  # Overlay bars for better visibility

st.plotly_chart(fig)

DeltaGenerator()

<a id='scatter_plot'></a>
3.3.2 `Scatter Plot Visualization`: Presents a scatter plot showcasing car prices over the years, allowing users to select specific car models to display. Outliers are removed using the Interquartile Range (IQR) method, providing a clearer view of price trends over time.

In [48]:
st.header('Car Prices Over Years')
# Define columns to remove outliers from
columns_to_remove_outliers = ['model_year', 'price']

# Calculate IQR for specified columns
Q1 = data[columns_to_remove_outliers].quantile(0.25)
Q3 = data[columns_to_remove_outliers].quantile(0.75)
IQR = Q3 - Q1

# Filter data to remove outliers
data_no_outliers = data[~((data[columns_to_remove_outliers] < (Q1 - 1.5 * IQR)) | (data[columns_to_remove_outliers] > (Q3 + 1.5 * IQR))).any(axis=1)]

# Get unique models for the multiselect dropdown
unique_models = data_no_outliers['model'].unique().tolist()

# Create a multiselect dropdown for model selection
selected_models = st.multiselect("Select models to display", unique_models, default=[])

filtered_data = data_no_outliers[data_no_outliers['model'].isin(selected_models)]

scatter_fig = px.scatter(
    filtered_data, 
    x='model_year', 
    y='price', 
    color='model',
    hover_name='model',  
    hover_data={'model_year': True, 'price': True},  
    labels={'model_year': 'Year', 'price': 'Price'}, 
)

# Customize the appearance of the plot
scatter_fig.update_traces(marker=dict(size=12, line=dict(width=2, color='DarkSlateGrey')), selector=dict(mode='markers'))

# Display the scatter plot without outliers using st.plotly_chart
st.plotly_chart(scatter_fig)

DeltaGenerator()

## 3.4 Conclusions <a id='developing_conclusions'></a>

### Insights and Interaction:
- `Insightful Data Display`: Displays the sorted and filtered dataset along with interactive Plotly visualizations that offer insights into price distributions and trends over the years for different car models.
- `Interactive Elements`: Employs Streamlit widgets (such as dropdowns, checkboxes, and multiselect options) to enable user interaction and customization of displayed data.

### Overall Purpose:
The notebook aims to facilitate interactive exploration and analysis of the Car Advertisement Dataset, empowering users to sort, filter, and visualize car data based on various attributes, fostering a deeper understanding of pricing trends and model distributions.

### Implication:
By utilizing Streamlit and Plotly to create an interactive interface and visualizations, this notebook serves as an effective tool for users to gain insights and make informed decisions regarding car advertisement data.